@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    /*muuda image-container taustapilti - 1.jääb samaks*/
    /*muuda dokumendi taustavärvi - JEP*/
    /*muuda dokumendi tekstivärvi - JEP*/
    /*ära unusta ka raamjoonesid - JEP*/
    /*KÜSIMUS AINULT ET MIKS LEHE YLESSE VALGE ÄÄR JÄÄB*/

    body { /*PARANDADES ÜLEMIST ÄRT MIS MUIDU VALGEKS JÄÄB*/
        background-color: #cfa58e;
    }

    .container {
        width: 100%;
        background-color: #cfa58e;
        color: #2a190f;
    }

    .image-container {
        background-image: url('../img/profile1.jpg');
    }
    
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid #2a190f;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    
}


@media (min-width: 768px) {

    /*muuda image-container taustapilti - JEP*/
    /*muuda dokumendi taustavärvi - JEP*/
    /*muuda dokumendi tekstivärvi - JEP*/
    /*ära unusta ka raamjoonesid - JEP*/

    body { /*PARANDADES ÜLEMIST ÄRT MIS MUIDU VALGEKS JÄÄB*/
        background-color: #ccccc5;
    }

    .container {
        width: 100%;
        background-color: #ccccc5;
        color: #29200c;
    }

    .image-container {
        background-image: url('../img/profile2.jpg');
    }
    
    .navigation ul li {
        border: 1px solid #29200c;
    }
}


@media (min-width: 1024px){
        
    /*muuda image-container taustapilti - JEP*/
    /*muuda dokumendi taustavärvi - JEP*/
    /*muuda dokumendi tekstivärvi - JEP*/
    /*ära unusta ka raamjoonesid - JEP*/

    body { /*PARANDADES ÜLEMIST ÄRT MIS MUIDU VALGEKS JÄÄB*/
        background-color: #4b3421;
    }

    .container {
        width: 100%;
        background-color: #4b3421;
        color: #9d8980;
    }

    .image-container {
        background-image: url('../img/profile3.jpg');
    }
    
    .navigation ul li {
        border: 1px solid #9d8980;
    }
}


@media (min-width: 1200px){

    /*muuda image-container taustapilti - JEP*/
    /*muuda dokumendi taustavärvi - JEP*/
    /*muuda dokumendi tekstivärvi - JEP*/
    /*ära unusta ka raamjoonesid - JEP*/

    body { /*PARANDADES ÜLEMIST ÄRT MIS MUIDU VALGEKS JÄÄB*/
        background-color: #ada5b4;
    }

    .container {
        width: 100%;
        background-color: #ada5b4;
        color: #23140c;
    }

    .image-container {
        background-image: url('../img/profile4.jpg');
    }
    
    .navigation ul li {
        border: 1px solid #23140c;
    }

    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

}


